<section id="curriculum" class="curriculum">    
    <h2 class="text-center">{{ with .Site.Params.curriculum.title }}{{ . }}{{ end }}</h2>
    <hr class="star-primary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-xs-12 col-md-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="timeline-centered">                        
                            {{ range $.Site.Data.jobs }}
                            <article class="timeline-entry">
                                <div class="timeline-entry-inner">
                                    <div class="timeline-icon">
                                        <i class="entypo-feather"></i>
                                    </div>
                                    <div class="timeline-label">
                                        <h3><a href="{{ .companyLink }}">{{ .company }}</a> <span>{{ .position }}</span></h3>
                                        <p>{{ .description }}</p>
                                    </div>
                                </div>
                            </article>
                            {{ end }}                            
                            <article class="timeline-entry begin">
                                <div class="timeline-entry-inner">
                                    <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); background: #ffffff;">
                                        <i class="entypo-flight"></i>
                                    </div>
                                </div>
                            </article>                        
                    </div>
                </div> 
            </div>
            </div>
            <div class="col-xs-12 col-md-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="timeline-centered">
                       {{ range $.Site.Data.degrees }}
                       <article class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon">
                                <i class="entypo-feather"></i>
                            </div>
                            <div class="timeline-label">
                                <h3><a href="{{ .link }}">{{ .university }}</a> <span>{{ .degree }}</span></h3>
                                <p>{{ .description }}</p>
                            </div>
                        </div>
                    </article>
                    {{ end }}                            
                    <article class="timeline-entry begin">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); background: #ffffff;">
                                <i class="entypo-flight"></i>
                            </div>
                        </div>
                    </article>
                </div> 
                </div> 
            </div>
        </div>  
        <div class="col-md-1">
            </div>          
    </div>
</div>
</div>
</section>